

/* Landing CSS start */
#landing{


    background: linear-gradient(
        rgba(0, 0, 0, 0.59),
        rgba(0, 0, 0, 0.59)
        
    
    ),
     url(./images/landing.jpg);
     background-repeat: no-repeat;
     background-size: auto;
     height: 816px;
     width: 1518px;
    

}

#banner {
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: aqua;
}

#banner-text {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: yellow;
}